
<section>
    <div id="card-training-history" class="profile-panes w-100 p-3 mt-3 bg-white">
        <div class="d-flex justify-content-between w-100">
            <div class="row" style="width: 70%;">
                <div id="close-training-history" class="d-none col-1" style="font-size:20px" onclick="closeCardModeEditable('training-history')">
                    <img src="@Url.Content("~/Content/assets/icons/left-arrow-primary.svg")" alt="plus" />
                </div>
                <div class="col-11 d-flex align-items-center">
                    <h3 class="pt-1" style="color: #0275B1;">Training History</h3>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div id="change-mode-edit-training-history" class="d-flex justify-content-center align-items-center rounded-circle cursor-pointer" style="background: #0275B1;width: 34px; height: 34px;"
                     onclick="showCardModeEditable('training-history')">
                    <img src="@Url.Content("~/Content/assets/icons/pen-white.svg")" alt="pen" />
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1" style="color: #0275B1">2020</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5 w-100">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            Plan Do Check Act TrainingPlan Do Check Act Training
                        </div>
                        <div id="show-edit-training-history-0" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;"
                             onclick="showModalTrainingHistory()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>

                    <div style="color: #0275B1">TMMIN - Indonesia</div>

                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#">
                            <li>Artificial Intelligence</li></a>
                            <a href="#">
                            <li>Cloud Computing</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1" style="color: #0275B1">2019</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5 w-100">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            TBP & A3 Report Training
                        </div>
                        <div id="show-edit-training-history-1" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;"
                             onclick="showModalTrainingHistory()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>

                    <div style="color: #0275B1">TMMIN - Indonesia</div>

                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#">
                            <li>Artificial Intelligence</li></a>
                            <a href="#">
                            <li>Cloud Computing</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1" style="color: #0275B1">2018</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5 w-100">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            JKK Training
                        </div>
                        <div id="show-edit-training-history-2" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;"
                             onclick="showModalTrainingHistory()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>

                    <div style="color: #0275B1">TMMIN - Indonesia</div>

                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#">
                            <li>HR Business Process</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="card-eligibility-criteria" class="profile-panes w-100 p-3 mt-3 bg-white">
        <div class="d-flex justify-content-between w-100">
            <div class="row" style="width: 70%;">
                <div id="close-eligibility-criteria" class="d-none col-1" style="font-size:20px" onclick="closeCardModeEditable('eligibility-criteria')">
                    <img src="@Url.Content("~/Content/assets/icons/left-arrow-primary.svg")" alt="plus" />
                </div>
                <div class="col-11 d-flex align-items-center">
                    <h3 class="pt-1" style="color: #0275B1;">Eligibility Criteria</h3>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div id="change-mode-edit-eligibility-criteria" class="d-flex justify-content-center align-items-center rounded-circle cursor-pointer" style="background: #0275B1;width: 34px; height: 34px;"
                     onclick="showCardModeEditable('eligibility-criteria')">
                    <img src="@Url.Content("~/Content/assets/icons/pen-white.svg")" alt="pen" />
                </div>
                <div id="show-add-eligibility-criteria" class="d-none" style="font-size:25px" onclick="showModalEligibilityCriteria()">
                    <img src="@Url.Content("~/Content/assets/icons/plus-primary.svg")" alt="pen" />
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1" style="color: #0275B1">2019</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5 w-100">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            Internet of Things Training
                        </div>
                        <div id="show-edit-eligibility-criteria-0" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;"
                             onclick="showModalEligibilityCriteria()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>
                    <div class="fw-bold">Yalong Intelligence (China)</div>
                    <div style="color: #0275B1">Open Certificate</div>

                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#">
                            <li>Artificial Intelligence</li></a>
                            <a href="#">
                            <li>Cloud Computing</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1" style="color: #0275B1">2019</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5 w-100">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            Data Analyst Training
                        </div>
                        <div id="show-edit-eligibility-criteria-1" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;"
                             onclick="showModalEligibilityCriteria()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>
                    <div class="fw-bold">SKM Training</div>
                    <div style="color: #0275B1">Open Certificate</div>

                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#">
                            <li>Database</li></a>
                            <a href="#">
                            <li>Data Processing</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1" style="color: #0275B1">2019</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5 w-100">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            Data Analyst Training
                        </div>
                        <div id="show-edit-eligibility-criteria-2" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;"
                             onclick="showModalEligibilityCriteria()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>
                    <div class="fw-bold">SKM Training</div>
                    <div style="color: #0275B1">Open Certificate</div>

                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#">
                            <li>Database</li></a>
                            <a href="#">
                            <li>Data Processing</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>