<section>
    <div id="card-career-history" class="profile-panes w-100 p-5 mt-3 bg-white">
        <div class="d-flex justify-content-between w-100">
            <div class="row" style="width: 70%;">
                <div id="close-career-history" class="d-none d-flex align-items-center col-1" style="font-size:20px" onclick="closeCardModeEditableCareer('career-history')">
                    <img src="@Url.Content("~/Content/assets/icons/left-arrow-primary.svg")" alt="plus" />
                </div>
                <div class="d-flex align-items-center col-11">
                    <span class="fs-3 fw-bold" style="color: #0275B1;">Rotation History</span>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div id="change-mode-edit-career-history" class="d-flex justify-content-center align-items-center rounded-circle cursor-pointer" style="background: #0275B1;width: 34px; height: 34px;"
                     onclick="showCardModeEditableCareer('career-history')">
                    <img src="@Url.Content("~/Content/assets/icons/pen-white.svg")" alt="pen" />
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1">1 Feb 2024 - Present</div>
                <div class="pt-1" style="color: #0275B1">2 mon</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            Information System and Technology Division, Software Development In-house, New Workstyle Innovation & Infrastructure
                        </div>
                        <div id="show-edit-career-history-0" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;" onclick="showModalRotationHistory()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>

                    <div>8 / Section Head</div>

                    <div>
                        <div class="fw-bold fs-6">Responsibility</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <li>Contribute in  HR Digital Transformation</li>
                        </ul>
                    </div>
                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#"><li>Full Stack Developer</li></a>
                            <a href="#"><li>HR Business Process</li></a>
                            <a href="#"><li>UI/UX Design</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1">1 Feb 2024 - Present</div>
                <div class="pt-1" style="color: #0275B1">2 mon</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            Information System and Technology Division, Software Development In-house, New Workstyle Innovation & Infrastructure
                        </div>
                        <div id="show-edit-career-history-1" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;" onclick="showModalRotationHistory()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>

                    <div>8 / Section Head</div>

                    <div>
                        <div class="fw-bold fs-6">Responsibility</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <li>Contribute in  HR Digital Transformation</li>
                        </ul>
                    </div>
                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#">
                            <li>Full Stack Developer</li></a>
                            <a href="#">
                            <li>HR Business Process</li></a>
                            <a href="#">
                            <li>UI/UX Design</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="card-project-assignment" class="profile-panes w-100 p-3 mt-3 bg-white">
        <div class="d-flex justify-content-between">
            <div class="row" style="width: 70%;">
                <div id="close-project-assignment" class="d-none d-flex align-items-center col-1" style="font-size:20px" onclick="closeCardModeEditableCareer('project-assignment')">
                    <img src="@Url.Content("~/Content/assets/icons/left-arrow-primary.svg")" alt="plus" />
                </div>
                <div class="d-flex align-items-center col-11">
                    <span class="fs-3 fw-bold" style="color: #0275B1;">Project Assignment</span>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div id="change-mode-edit-project-assignment" class="d-flex justify-content-center align-items-center rounded-circle cursor-pointer" style="background: #0275B1;width: 34px; height: 34px;"
                     onclick="showCardModeEditableCareer('project-assignment')">
                    <img src="@Url.Content("~/Content/assets/icons/pen-white.svg")" alt="pen" />
                </div>
                <div id="show-add-project-assignment" class="d-none" style="font-size:25px" onclick="showModalProjectAssignment()">
                    <img src="@Url.Content("~/Content/assets/icons/plus-primary.svg")" alt="pen" />
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1">1 Feb 2024 - Present</div>
                <div class="pt-1" style="color: #0275B1">2 mon</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5 w-100">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            Integrated Logistic Project
                        </div>
                        <div id="show-edit-project-assignment-0" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;"
                             onclick="showModalProjectAssignment()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>

                    <div>8 / Section Head</div>

                    <div>
                        <div class="fw-bold fs-6">Responsibility</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <li>Contribute in  integrated logistic  at Tanjung Priok</li>
                        </ul>
                    </div>
                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#">
                            <li>Supply Chain</li></a>
                            <a href="#">
                            <li>Logistic</li></a>
                            <a href="#">
                            <li>Purchasing</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="card-ict" class="profile-panes w-100 p-3 mt-3 bg-white">
        <div class="d-flex justify-content-between w-100">
            <div class="row" style="width: 70%;">
                <div id="close-ict" class="d-none d-flex align-items-center col-1" style="font-size:20px" onclick="closeCardModeEditableCareer('ict')">
                    <img src="@Url.Content("~/Content/assets/icons/left-arrow-primary.svg")" alt="plus" />
                </div>
                <div class="d-flex align-items-center col-11">
                    <span class="fs-3 fw-bold" style="color: #0275B1;">ICT / Assignment to External</span>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
                <div id="change-mode-edit-ict" class="d-flex justify-content-center align-items-center rounded-circle cursor-pointer" style="background: #0275B1;width: 34px; height: 34px;"
                     onclick="showCardModeEditableCareer('ict')">
                    <img src="@Url.Content("~/Content/assets/icons/pen-white.svg")" alt="pen" />
                </div>
            </div>
        </div>

        <div class="row mb-10">
            <div class="d-flex align-items-center">
                <div class="w-20px h-20px rounded-circle" style="background-color: #BFBFBF"></div>
                <div class="mx-2 pt-1">1 Feb 2024 - Present</div>
                <div class="pt-1" style="color: #0275B1">2 mon</div>
            </div>

            <div class="d-flex mt-2">
                <span class="w-3px" style="background-color: #BFBFBF; margin-left: 8px !important; height: 110%"></span>
                <div class="mx-5 w-100">
                    <div class="d-flex justify-content-between">
                        <div class="fw-bold fs-3">
                            TDEM - Thailand
                        </div>
                        <div id="show-edit-ict-0" class="d-none d-flex justify-content-center align-items-center cursor-pointer" style="width: 34px; height: 34px;"
                             onclick="showModalICT()">
                            <img src="@Url.Content("~/Content/assets/icons/pen-primary.svg")" alt="pen" />
                        </div>
                    </div>

                    <div>New Workstyle Innovation & Infrastructure, Information System and Technology Division</div>

                    <div>8 / Section Head</div>

                    <div>
                        <div class="fw-bold fs-6">Responsibility</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <li>Lead Modern Architecture deployment roll out to ASMC</li>
                        </ul>
                    </div>

                    <div>
                        <div class="fw-bold fs-6">Skills</div>
                        <ul class="m-0" style="list-style-type: disc">
                            <a href="#"><li>Supply Chain</li></a>
                            <a href="#"><li>Logistic</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>