@using Toyota.Common.Web.UI
@using Toyota.Common.Credential
@using Toyota.Common.Utilities
@using ASPNETMVC3TDK.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Parent = "Personal Information";
}

<!--begin::Toolbar-->
<div class="d-flex justify-content-center">
    <div style="width:80%">
        <div class="w-full">
            <img alt="background" src="@Url.Content("~/Content/assets/media/personal-information/tmminbg.jpg")" style="width:100%;height:300px" />
        </div>
        <div style="display:flex; gap:2em; padding-left: 6em !important; padding-right:  6em !important" class="w-100 bg-white">    
            <div>
                <img src="@Url.Content("~/Content/assets/media/personal-information/najwaprofile.jpg")" style="position:relative; top: -52px; outline: 0.3em solid #0275B1; width:200px;height:200px; border-radius:100%" alt="">
            </div>
            <div>
                <h5 class="bind-fullName">Najwa Fathiadisa</h5>
                <p class="bind-description">Passionate about tech, economy, and business, I'm a penultimate Computer Engineering student at Universitas Indonesia. Seeking growth in challenging opportunities, I aim to contribute to an organization that values continuous learning. </p>
            </div>
        </div>

        <div id="tab-headers" class="mt-3" style="border-radius: 24px 24px 0 0; width: fit-content; user-select: none; background-color: #E7E7E7; border: 1px solid #F1F1F1; display:flex; gap: 2px; overflow:hidden;">
            <span class="px-3 py-3 bg-white cursor-pointer active-tabs" data-id='1'>PERSONAL INFORMATION</span>
            <span class="px-3 py-3 bg-white cursor-pointer" data-id='2'>CAREER HISTORY</span>
            <span class="px-3 py-3 bg-white cursor-pointer" data-id='3'>TRAINING HISTORY &amp; OTHERS</span>
        </div>

        <div class="d-flex gap-3">
            <div style="flex: 1" id="main-profile">
                <div class="tab-content active" data-content='1'>
                    @Html.Partial("PersonalInformationTabs/PersonalInformation_Section_Profile")
                </div>
                <div class="tab-content" data-content='2'>
                    @Html.Partial("PersonalInformationTabs/PersonalInformation_Section_CareerHistory")
                </div>
                <div class="tab-content" data-content='3'>
                    @Html.Partial("PersonalInformationTabs/PersonalInformation_Section_TrainingHistory")
                </div>
            </div>

            <div style="width: 25em">
                <div style="border-radius: 6px; background-color: white; padding: 24px;" class="mt-3">
                    <p>APPROVAL</p>
                    <br>
                    <div style=" display: flex; justify-content:center; flex-direction: column; align-items:center">
                        <p style="color:red; text-align:center">
                            Najwa Has One Document To Approve
                        </p>
                        <button class="btn btn-primary mt-3 w-100" style="background-color: #0275B1">Check Approval</button>
                    </div>
                </div>
                <div style="border-radius: 6px; background-color: white; padding: 24px;" class="mt-3">
                    <p>UPDATE TO PAGE</p>
                    <br>
                    <div style=" display: flex; flex-direction: column;">
                        <p style="color: #0275B1;">
                            26 Mar 2024
                        </p>
                        <p>Najwa Has Updated Career History</p><p>
                            <button class="btn btn-primary mt-3 w-100" style="background-color: #0275B1">Check Update</button>
                        </p>
                    </div>
                </div>
                <div style="border-radius: 6px; background-color: white; padding: 24px;" class="mt-3">
                    <p>ORGANIZATION</p>
                    <br>
                    <div style=" display: flex; flex-direction: column;">
                        <div>
                            <p style="color: #0275B1">Div. Head</p>
                            <div class="d-flex gap-3 my-2">
                                <img src="@Url.Content("~/Content/assets/media/personal-information/pakSixx.jpg")" style="width: 4em; height: 4em; border-radius: 100%" alt="">
                                <div>
                                    <h5 style="margin:0">Sixninthson Ulrich</h5>
                                    <p style="font-size:small">Information System and Technology Division</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p style="color: #0275B1">Dept. Head</p>
                            <div class="d-flex gap-3 my-2">
                                <img src="@Url.Content("~/Content/assets/media/personal-information/pakDito.jpg")" style="width: 4em; height: 4em; border-radius: 100%" alt="">
                                <div>
                                    <h5 style="margin:0">Abi Hanindito</h5>
                                    <p style="font-size:small">Software Development In-House</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p style="color: #0275B1">Section Head</p>
                            <div class="d-flex gap-3 my-2">
                                <img src="@Url.Content("~/Content/assets/media/personal-information/pakAang.jpg")" style="width: 4em; height: 4em; border-radius: 100%" alt="">
                                <div>
                                    <h5 style="margin:0">Aang Dyaksa</h5>
                                    <p style="font-size:small">New Workstyle Innovation &amp; Infrastructure Section</p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-3 w-100" style="background-color: #0275B1">Detail Organization</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("PersonalInformation_Popup")
@Html.Partial("PersonalInformation_Js")