@using Toyota.Common.Web.UI
@using Toyota.Common.Credential
@using Toyota.Common.Utilities
@using ASPNETMVC3TDK.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Parent = "Master";
    ViewBag.Title = "Authorization Management";
}

<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3">@ViewBag.Title</h1>
            <!--end::Title-->
        </div>
        <!--end::Page title-->
        <div class="d-flex align-items-center py-1">
            <ol class="breadcrumb text-muted fs-6 fw-semibold">
                <li class="breadcrumb-item pe-3"><span class="pe-3 text-dark">@ViewBag.Parent</span></li>
                <li class="breadcrumb-item pe-3 text-muted">@ViewBag.Title</li>
            </ol>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->

</div>

<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-fluid">

        @Html.Partial("AuthManagement_Header")

        <div class="card card-flush pt-3 mb-5 mb-lg-10" id="data-table-wrapper">
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 table-hover table-striped" id="datatable">
                            <thead>
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                    <th class="text-center">Role ID</th>
                                    <th class="text-center">Role Name</th>
                                    <th class="text-center">Total Function</th>
                                    <th class="text-center">Function</th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-600 fw-semibold">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("AuthManagement_PopupView")
@Html.Partial("AuthManagement_PopupViewFeature")
@Html.Partial("AuthManagement_PopupFunctionCreate")
@Html.Partial("AuthManagement_PopupFeatureCreate")
@Html.Partial("AuthManagement_Js")